@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@theme {
  /* Add your custom theme configuration here */
  /* --font-display: "Satoshi", "sans-serif"; */
  /* --color-brand: #bada55; */
  --font-lobster: "Lobster", cursive;
  --font-roboto: 'Roboto', sans-serif;
}



