input {
    color-scheme: dark;
}

/* Custom styling for date input icon if needed */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.active-tab-underline {
    height: 3px;
    bottom: -1px;
}

@media (max-width: 640px) {
    .active-tab-underline {
        bottom: -1px;
    }
    
    input {
        font-size: 16px !important; /* Prevents auto-zoom on iOS */
    }
}

